---
title: DreamWorld Pages
heading: One column layout
layout: T01.hbs
---
<div class="page-content my-theme">
    <div class="contained-component-placeholder card-container layout-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        {{>spotlight cards.card1}}
                        {{>spotlight cards.card1}}
                        {{>spotlight cards.card1}}
                        {{>spotlight cards.card1}}
                        {{>spotlight cards.card4}}
                        {{>spotlight cards.card5}}
                        {{>spotlight cards.card6}}
                        {{>spotlight cards.card1}}
                        {{>spotlight cards.card1}}
                        {{>spotlight cards.card6}}
                        {{>spotlight cards.card7}}
                        {{>spotlight cards.card1}}
                        {{>spotlight cards.card4}}
                        {{>spotlight cards.card1}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    

