---
title: DreamWorld Pages
heading: Two column layout
layout: T01.hbs
---
<div class="page-content my-theme">
    <div class="contained-component-placeholder card-container layout-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">                            
                        {{>spotlight cards.card4}}
                    </div>                        
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        {{>spotlight cards.card1}}
                        {{>spotlight cards.card1}}
                        {{>spotlight cards.card4}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    

