---
title: Test page
heading: Two column layout
layout: sample-layout.hbs
---
<div class="page-content my-theme">
    <div class="contained-component-placeholder card-container nmspc-layout-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">                            
                        {{>sample-spotlight sample-cards.card3}}
                    </div>                        
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        {{>sample-spotlight sample-cards.card1}}
                        {{>sample-spotlight sample-cards.card1}}
                        {{>sample-spotlight sample-cards.card4}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    

