---
title: Test page
heading: Components
layout: sample-layout.hbs
---
<div class="page-content my-theme">
    <div class="full-component-placeholder">
        {{>sample-carousel sample-images}}
    </div>
    <div class="contained-component-placeholder card-container nmspc-layout-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">                            
                        {{>sample-accordion sample-accordion.first}}
                    </div>                        
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        {{>sample-slider sample-slider}}
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        {{>sample-cards sample-card}}
                    </div>
                </div>
            </div>
            </div>
        </div>
</div>