---
title: Test page
heading: Four column layout
layout: sample-layout.hbs
---
<div class="page-content my-theme">
    <div class="full-component-placeholder">
        {{>sample-carousel sample-images}}
    </div>
    <div class="contained-component-placeholder nmspc-layout-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="row">                            
                        {{>sample-spotlight sample-cards.card1}}
                    </div>                        
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        {{>sample-spotlight sample-cards.card1}}
                        {{>sample-spotlight sample-cards.card2}}
                        {{>sample-spotlight sample-cards.card3}}
                        {{>sample-spotlight sample-cards.card3}}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>    

