---
title: Test page
heading: Page list
layout: sample-layout.hbs
---
<div class="page-content my-theme">
    <div class="contained-component-placeholder card-container ram-layout-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        {{>sample-pagelist}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>