body{
	background:#4ea082;
}
div{
	margin:12px;
	margin-left: 0;
	width:60%;
}
.predefined input[name='version']{
	float: right;
}
input{
	margin-right:20px;
	padding-left: 5px;
}
h3{
	margin-top: 50px; 
}
h2{
	padding-top: 30px;
}
.btn-success{
	width:100%;
	margin:50px;
}
input[type="text"]{
	width:60%;
}
#successmsg{
	display:none;
}
