.main-header {
	padding: 15px 0;
}

.main-footer {
	padding: 15px 0;
}

/****************** COMPONENTS **********************/

.page-list ul {
    list-style: outside none none;
    padding-left: 0px;
}

.page-list ul li {
    border: 1px solid aliceblue;
    background: #EEEEEE;    
    display: inline-block;
}

.page-list ul li a {
    display: block;
    padding: 4px 8px; 
}

.hero-carousel .bg {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.hero-carousel .slide {
    height: 400px;
    @include mobile {
        height: auto;
    }
}

.hero-carousel .title {
    display: block;
    width: 100%;
    background: white;
    opacity: 0.4;
    padding: 15px;
    height: 400px;
}

.hero-carousel .title h2 {
    display: block;
    margin: 0px;
}

.image-responsive {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.image-responsive img {
    width: 100%;
}

.bookmarks-menu ul {
    padding-left: 0px;
}

.bookmarks-menu ul li {
    display: block;
    list-style: none;
}

.bookmarks-menu ul li a {
    display: block;
    padding: 8px 16px;
}

.bookmarks-menu ul li a:hover {
    background-color: $color-primary-light;
}


/* Inheriting styles as themes provided by prouix */
.my-theme { @extend .pro-theme; }

.slick-slider.hero-carousel .slide {
    position: relative;
}

.slick-slider.hero-carousel .slick-prev {
    left: 25px;
}

.slick-slider.hero-carousel .slick-next {
    right: 25px;
}

.slick-slider.hero-carousel .slick-dots {
    bottom: -30px;
}

/****************** COMPONENTS **********************/