.main-header {
	padding: $gutterside 0;
}

.main-footer {
	padding: $gutterside 0;
}

/****************** COMPONENTS **********************/

.page-list ul {
    list-style: outside none none;
    padding-left: 0px;
}

.page-list ul li {
    display: block;
    padding: 8px 16px;
}

.page-list ul li a {
    
    width: auto;
}

.hero-carousel .bg {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.hero-carousel .slide {
    height: 400px;
    @include mobile {
        height: auto;
    }
}

.hero-carousel .title {
    display: block;
    width: 100%;
    background: white;
    opacity: 0.4;
    padding: $gutterside;
    height: 400px;
}

.hero-carousel .title h2 {
    display: block;
    margin: 0px;
}

.image-responsive {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.image-responsive img {
    width: 100%;
}

.component.bookmarks-menu .component-content {
    padding: 0px;
}

.bookmarks-menu ul {
    padding-left: 0px;
}

.bookmarks-menu ul li {
    display: block;
    list-style: none;
}

.bookmarks-menu ul li a {
    display: block;
    padding: 8px 16px;
}

.component.bookmarks-menu ul li a:hover {
    background-color: get-color('primary','dark');
    color: get-color('accent','light');
}


/* Inheriting styles as themes provided by prouix */
.my-theme { @extend .pro-theme; }

.slick-slider.hero-carousel .slide {
    position: relative;
}

.slick-slider.hero-carousel .slick-prev {
    left: 25px;
}

.slick-slider.hero-carousel .slick-next {
    right: 25px;
}

.slick-slider.hero-carousel .slick-dots {
    bottom: -30px;
}

/****************** COMPONENTS **********************/

/**********************CARDS*************************/

.cards .card {
    background: get-color('primary','light');
    color: get-color('dark');
    padding: $gutterside;
    width: 100%;
    height: 100%;
    @include border-radius(4px);
}

.cards .card h3 {
    margin-top: 0px;
}

.cards .component-content > .row {
    margin-left: -$gutterside/2;
    margin-right: -$gutterside/2;
    /*display: table;
    width: 100%;*/
    /*overflow: hidden;*/
}

.cards .component-content > .row > div {
    padding-left: $gutterside/2;
    padding-right: $gutterside/2;
    /*float: none;
    display: table-cell;
    vertical-align: top;*/
    /*margin-bottom: -99999px;
    padding-bottom: 99999px;*/
}

/**********************CARDS*************************/

/********************ACCORDION***********************/

.component.accordion .panel-group {
    margin-bottom: 0px;
}

/*.component.accordion .panel-title a:hover, 
.component.accordion .panel-title a:active,
.component.accordion .panel-title a:focus {
    text-decoration: none;
}*/

/********************ACCORDION***********************/

/*********************TOOLTIP************************/

/*.tooltip-block {
    position: relative;
}

.tooltip-block .link {
    cursor: help;
}

.tooltip-block .tooltip {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 0px;
    border: 1px solid silver;
    background: white;
    @include border-radius(6px);
    padding: $gutterside;
    z-index: get-zindex(z5);
}

.tooltip-block:hover .tooltip {
    display: block;
}*/

.tooltip .tooltip-inner {
    background: get-color('primary','dark');
    padding: 8px;
}

.tooltip {
    &.top .tooltip-arrow,
    &.top-left .tooltip-arrow, 
    &.top-right .tooltip-arrow {
        border-top-color: get-color('primary','dark');
    }
    &.right .tooltip-arrow {
        border-right-color: get-color('primary','dark');
    }
    &.left .tooltip-arrow {
        border-left-color: get-color('primary','dark');
    }
    &.bottom .tooltip-arrow, 
    &.bottom-left .tooltip-arrow, 
    &.bottom-right .tooltip-arrow {
        border-bottom-color: get-color('primary','dark');
    }
}

/*********************TOOLTIP************************/