.slick-prev:before, .slick-next:before {
    font-size: 28px;
}

.nmspc-slides {
    padding-left: 3*$gutterside/2;
    padding-right: 3*$gutterside/2;
}

.nmspc-slider .slide.slide-promo {
    padding: 0 $gutterside/2;
}

.slide-promo .slide-content {
    min-height: 200px;
    background: get-color('primary', 'light');
    padding: $gutterside;
    @include border-radius(4px);
}

.slide-promo .slide-promo-title{
	/*font-size: 24px;
	line-height: 30px;*/
	margin: 0px;
}
.slide-promo .slide-promo-description {
    margin: 0px;
	margin-top: $gutterside;
}

.slide-promo .slide-promo-button {
    margin: 0px;
	margin-top: $gutterside;
}

/*.slide-promo.no-background  {
	color: black;
	border:1px solid black;
	background:#FFF;
}*/
.nmspc-slider .nmspc-slides .slick-next{
	right: -3px;
}
.nmspc-slider .nmspc-slides .slick-prev{
	left: 0px;
}

.nmspc-slider .nmspc-slides .slick-prev, 
.nmspc-slider .nmspc-slides .slick-next {
	height: $gutterwidth;
	width: $gutterwidth;
	display: block;
	margin-top: -$gutterside;
	/*transform:scale(1.5);*/
	opacity: 0.8;
}

.nmspc-slider .nmspc-slides .slick-prev:hover, 
.nmspc-slider .nmspc-slides .slick-next:hover {
	opacity: 1;
}

.nmspc-slider .nmspc-slides .slick-prev:before, 
.nmspc-slider .nmspc-slides .slick-next:before {
	/*content: "◆";
    font-size: 24px;
	color: #111111;
	position: absolute;
	top: -22px;
	left: -6px;
	display: block;*/
    color: get-color('primary', 'dark');
}

/*.nmspc-slider .nmspc-slides .slick-prev:hover:after, 
.nmspc-slider .nmspc-slides .slick-prev:focus:after, 
.nmspc-slider .nmspc-slides .slick-next:hover:after, 
.nmspc-slider .nmspc-slides .slick-next:focus:after {
	background: transparent url(/clientlibs/images/carousel-arrow.png) no-repeat 0px 0;
}

.nmspc-slider .nmspc-slides .slick-prev:after,
.nmspc-slider .nmspc-slides .slick-next:after {
	color: black;
	position: absolute;
	top: 5px;
	left: 9px;
	width: $gutterwidth;
	height: $gutterwidth;
	background: transparent url(/clientlibs/images/carousel-arrow.png) no-repeat center 0;
	content: " ";
	display: block;
}

.nmspc-slider .nmspc-slides .slick-prev:after,
.nmspc-slider .nmspc-slides .slick-prev:hover:after,
.nmspc-slider .nmspc-slides .slick-prev:focus:after {
	left: 3px;
	background-position: center -36px;
}*/