<div class="component bookmarks-menu layout-col-2">
    <div class="component-content">
        <ul>
            {{#each menu}}
            <li>
            <a href="{{url}}">{{title}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</div>