---
component: global_footer
---
<!-- GLOBAL FOOTER -->
<footer>
   <div class="main-footer">
       <div class="container">
           <div class="row"><h4>This is the footer</h4></div>
       </div>
   </div>
</footer> <!-- /#ad-footer -->




