---
    component: global_html_footer
---
   
    <!-- build:js global/scripts/vendor/vendor.js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/slick-carousel/slick/slick.js"></script>
    <script src="bower_components/picturefill/src/picturefill.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js"></script>       
    <script src="bower_components/jquery-scrollsync/scrollsync.js"> </script>
    
    <!-- endbuild -->
    
    <!-- build:js project/scripts/prod.main.js -->
	<script src="scripts/components/Config.js"> </script>
	<script src="scripts/components/Header.js"> </script>
    
    <script src="scripts/components/Carousel.js"> </script>
    <script src="scripts/project.main.js"> </script>
    <!-- endbuild -->   
    
</body>
</html>
