---
component: global_html_header
---
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main page</title>
    <!-- build:css(.tmp) global/css/global.css -->
    <link rel="stylesheet" href="styles/global.css">
    <!-- endbuild -->
    <style type="text/css">
		body{
			margin:0;
		}
    </style>
    <script type="text/javascript">
        AD = {initUI:[]};
    </script>
</head>

<body>

