---
component: carousel
---
<div class="hero-carousel slider" id="hero-carousel-main" data-slider-dots="true" data-slider-infinite="true" data-slidesToShow="1" data-slidesToScroll="1">
    {{#each this}}
        <div class="slide">
            <div class="bg">
                <div class="image-responsive">
                    {{>sample-picture this}}
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="title">
                        <h2>{{title}}</h2>
                        <span class="description">{{description}}</span>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
<script type="text/javascript">
    fnlprjt.addModule("Carousel", "#hero-carousel-main");
</script>