<div class="component spotlight layout-col-{{column}}">
    <div class="component-content">
        <h3 class="title">{{title}}</h3>
        <span class="description">{{{description}}}</span>
    </div>
</div>