<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  <div class="container">
    <h1> ProUIX setup for new project </h1>
   <form id="package">
    <div> Project name <input type="text" required placeholder="Your project folder name" name="projectname"></div>
      <div> CSS namespace <input type="text" required placeholder="Classes get this prepended" name="cssname"></div>
    <div class="predefined"><input type="checkbox" name="jQuery"> JQuery <input type="text" placeholder="Version" name="version"></div>
     <div class="predefined"><input type="checkbox" name="Backbone"> Backbone <input type="text" name="version" placeholder="Version"></div>
      <div class="predefined"><input type="checkbox" name="Angular"> Angular <input type="text" name="version" placeholder="Version"></div>
    <input type="submit" value="Submit"><button type="button" class="addmore">Add new</button>
  </form>
  </div>
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/scripts.js"></script>
</body> 

</html>
